<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>
      <h2>Explore the Duwamish</h2>
      <p class="chatter">Mark Powell swam 55 miles of the river, starting cold and clear in the mountains and ending murky and polluted in Elliott Bay. But what he saw along the way gave him hope. “Despite everything we have done to it, the river is still alive,” he said. Click the dots for his commentary and videos taken during his swim.
      <div class="aspect-outer">
        <div class="aspect-inner">
          <leaflet-map class="duwamish" lat="47.35650163792198" lng="-121.90704345703124" zoom="8">
            <map-options>{ "scrollWheelZoom": false }</map-options>
            <tile-layer layer="esriTopographic"></tile-layer>
            <!-- <tile-layer layer="esriTerrainLabels"></tile-layer> -->
            <% json.DuwamishSwimmer_POI.forEach(function(row, i) { %>
            <map-marker
              class="river-marker <%= row.month %>-<%= row.year %>"
              lat="<%= row.lat %>"
              lng="<%= row.lng %>"
              id="trip-<%= i.toString(36) %>"
            >
              <!-- <h2><%= row.title %></h2> -->
              <div class="date">
                <%= row.month %> <%= row.year %>
              </div>
              <% if (row.vimeo) { %>
              <iframe src="https://player.vimeo.com/video/<%= row.vimeo %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              <% } %>
              <p><%= row.description %></p>
            </map-marker>
            <% }) %>
          </leaflet-map>
        </div>
      </div>
      <div class="controls">
        <a class="previous button">&lt; Previous</a>
        <a class="next button">Next &gt;</a>
      </div>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
